/* From Uiverse.io by mrhyddenn, customized with website colors */
.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: var(--primary-color);
  transform-origin: center -0.2222em;
  animation: spinner-fade 1s infinite linear;
}

/* Animation keyframes */
@keyframes spinner-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

/* Optional: dark mode support (uses same --primary-color variable) */
html.dark-mode .spinner .spinner-blade {
  background-color: var(--primary-color);
}
